@import 'utils/variables';
@import 'components/common/container';
@import 'components/common/page-header';
@import 'components/common/logo';
@import 'components/common/header-nav';
@import 'components/common/page-footer';
@import 'components/common/social-networks-links';
@import 'components/webstudio/hero';
@import 'components/webstudio/advantages';
@import 'components/webstudio/activity';
@import 'components/webstudio/team';
@import 'components/webstudio/partners';
@import 'components/webstudio/backdrop';
@import 'components/portfolio/main-buttons';
@import 'components/portfolio/product-grid';