.page-header {
  width: 480px;
  margin: 0 auto;
  background: var(--header-background);
  border-bottom: 1px solid var(--header-border);
  position: relative;
  @media screen and (min-width: 768px){
    width: 768px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px){
    width: 1200px;
    margin: 0 auto;
  }
  &__nav {
    display: flex;
    align-items: center;
    padding: 15px 0;
    min-width: 100%;
    @media screen and (max-width: 767px){
    justify-content: space-between;
    }
  @media screen and (min-width: 768px){
    padding: 0px;
  }
  }
}

.page-header__menu-wrapper {
  @media screen and (max-width: 767px){
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  padding: 0px 40px 48px 40px;
  background: #ffffff;
  }
@media screen and (min-width: 768px){
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  margin-left: 93px;
}

&.is-open {
  @media screen and (max-width: 767px) {
  display: block;
  }
}
}

.menu__btn {
  padding: 12px 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  @media screen and (min-width: 768px){
  display: none;}
  &:hover, &:focus {
    color: var(--hover-color);
  }
}

.menu__btn .icon-cross {
  display: block;
  fill: currentColor;
}

.menu__btn .icon-menu {
  display: none;
  fill: currentColor;
}

.menu__btn.is-open .icon-cross {
  display: none;
}

.menu__btn.is-open .icon-menu {
  display: block;
}