.page-header {
  width: var(--common-width);
  background: var(--header-background);
  border-bottom: 1px solid var(--header-border);
  position: relative;
  &__nav {
  min-width: 100%;
  @media screen and (min-width: 768px){
  display: flex;
  align-items: center;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    }
  }
}

.page-header__menu-wrapper {
@media screen and (min-width: 768px){
display: flex;
justify-content: space-between;
  flex-basis: 100%;
  padding-left: var(--section-padding);
}
@media screen and (max-width: 767px) {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0px 40px 48px 40px;
  min-width: 100%;
  background: #ffffff;
}
&.is-open {
  @media screen and (max-width: 767px) {
  display: block;
  }
}
}

.menu__btn {
  padding: 12px 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  @media screen and (min-width: 768px){
  display: none;}
  &:hover, &:focus {
    color: var(--hover-color);
  }
}

.menu__btn .icon-cross {
  display: none;
  fill: currentColor;
}

.menu__btn .icon-menu {
  fill: currentColor;
}

.menu__btn.is-open .icon-cross {
  display: block;
}

.menu__btn.is-open .icon-menu {
  display: none;
}