.partners {
	width: 480px;
	margin: 0 auto;
	padding: 60px 0px;
	@media screen and (min-width: 768px){
   width: 768px;
   margin: 0 auto;
   }
   @media screen and (min-width: 1200px){
	width: 1200px;
   margin: 0 auto;
	padding: var(--section-padding) 0;
	}
	&__title {
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--h-color);
	
	@media screen and (min-width: 1200px){
	font-size: 36px;
	line-height: 42px;
	}
	}
}

.partners__title--indent {
	margin-bottom: 30px;
	@media screen and (min-width: 1200px){
	margin-bottom: 50px;
	}
}

.partners-cards {
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--card-margin));
	margin-left: calc(-1 * var(--card-margin));

	@media screen and (min-width: 768px) {
   display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--card-margin));
	margin-left: calc(-1 * var(--card-margin));
	}

	@media screen and (min-width: 1200px){
	margin-top: 0px;
	margin-left: 0px;
	}

	&__link{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;	
	color: #AFB1B8;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover, &:focus {
		color: var(--hover-color);
	}
}
	&__icon {
	fill: currentColor;
	}

	&__item {
	height: 90px;
	border: 1px solid #AFB1B8;
	border-radius: 4px;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   flex-basis: calc((100% - 60px) / 2);
	margin-top: var(--card-margin);
	margin-left: var(--card-margin);
		
		@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 90px) / 3);
		margin-top: var(--card-margin);
		margin-left: var(--card-margin);
		}

		@media screen and (min-width: 1200px){
		flex-basis: calc(100% / 6 - 30px);
		margin-top: 0;
		margin-left: 0;
		}

		&:not(:last-child){
		@media screen and (min-width: 1200px){
		margin-right: var(--card-margin);
		}
	}
	&:hover, &:focus {
	border: 1px solid var(--hover-color);
	}
}
}